<if condition="$Think.session.admin.id_level eq 2">
<include file="Public/headerr" />
<else/>
<include file="Public/header_super" />
</if>
<style type="text/css">
.column-title{
  text-align: center;
}
</style>
<div class="right_col" role="main">
              <div class="row">
              


              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>月度正式版成绩列表</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="table-responsive">
                <form id="form1" action="{:U('Plansuper/withdrawlistM')}" method="post" class="form-horizontal">
                      
                      年度：<select style="width:100px;" name="search[]">
                        <option <if condition="$search[0] eq 2017">selected</if>>2017</option>
                        <option <if condition="$search[0] eq 2016">selected</if>>2016</option>
                      </select>
                      月度：<select style="width:100px;" name="search[]">
                        <option <if condition="$search[1] eq 1">selected</if>>1</option>
                        <option <if condition="$search[1] eq 2">selected</if>>2</option>
                        <option <if condition="$search[1] eq 3">selected</if>>3</option>
                        <option <if condition="$search[1] eq 4">selected</if>>4</option>
                        <option <if condition="$search[1] eq 5">selected</if>>5</option>
                        <option <if condition="$search[1] eq 6">selected</if>>6</option>
                        <option <if condition="$search[1] eq 7">selected</if>>7</option>
                        <option <if condition="$search[1] eq 8">selected</if>>8</option>
                        <option <if condition="$search[1] eq 9">selected</if>>9</option>
                        <option <if condition="$search[1] eq 10">selected</if>>10</option>
                        <option <if condition="$search[1] eq 11">selected</if>>11</option>
                        <option <if condition="$search[1] eq 12">selected</if>>12</option>
                      </select>
                      部门：<select style="width:100px;" name="search[]" id="depart">
                      <option selected="selected"></option>
                      <volist name="department" id="vo">
                        <option value="{$vo}" <if condition="$search[2] eq $vo">selected</if>>{$vo}</option>
                      </volist>
                      </select>
                      <button type="submit" id="bn">搜索</button>
                 </form>
                      <empty name="data">
                      查询信息为空！
                      <else/>
                      <table class="table table-striped jambo_table bulk_action" style="text-align:center;">
                        <thead>
                          <tr class="headings">
                            <th class="column-title">id</th>
                            <th class="column-title">年度</th>                     
                            <th class="column-title">月度</th>
                            <th class="column-title">部门</th>
                            <th class="column-title">工号</th>
                            <th class="column-title">姓名</th>
                            <th class="column-title">最终成绩</th>
                            <th class="column-title">操作</th>
                          </tr>
                        </thead>

                        <tbody>
                          
                          <volist name="data" id="vo">
                          <tr class="even pointer">
                            <td class=" ">
                            {$i}
                            </td>
                            <td class=" ">
                            {$vo.year}
                            </td>
                           
                            <td class=" ">
                            {$vo.month}
                            </td>
                             
                            <td class=" ">
                            {$vo.department}
                            </td>
                            <td class=" " width="">
                            {$vo.id_employee}
                            </td>
                            <td class=" ">
                            {$vo.name}
                            </td>
                            <td class=" " width="">
                            {$vo.grade_total}
                            </td>
                            <td>
                            [ <a class="" href="#" onclick="fn(this)" role="button" >撤回</a> ]
                            </td>
                          </tr>
                          </volist>
                        </tbody>
                      </table>
                      </empty>
                    </div>
                  </div>
                </div>
              </div>
              </div>
</div>
<include file="Public/foot" /> 
<script type="text/javascript">
  function fn(tt){
  if (confirm("确定要撤回成绩吗？")) 
             {
      var tr1 = tt.parentNode.parentNode;
      var month  = tr1.cells[2].innerText;
      var year = tr1.cells[1].innerText;
      var department = tr1.cells[3].innerText;
      //document.getElementById('form1').submit();
      var action = "delete";
      $.ajax({
        type:"GET",
        url:action,
        dataType:"json",
        data:{"year":year,"month":month,"department":department,"typ":'M'},
        success:function(data){
          if(data.success==1){
            alert('删除成功!');
            document.getElementById('form1').submit();
          }
          if(data.success==0){ 
          //alert(data.username);
          alert("删除失败！");
            return false;
          }
        }
      });
    }
}
</script>