<include file="Public/header" /> 
<style type="text/css">
	.column-title{
		text-align: center;
	}
</style>

<div class="right_col" role="main">
  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>部门评级分配</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="table-responsive">          
                     <empty name="rate">
                      信息为空！
                      <else/>
                      <table class="table table-striped jambo_table bulk_action" style="text-align:center;">
                        <thead>
                          <tr class="headings">
                            <th class="column-title" width="3%">部门</th>
                            <th class="column-title" width="3%">年度</th>                     
                            <th class="column-title" width="3%">季度</th>
                            <th class="column-title" width="3%">部门<br>总人数</th>
                            <th class="column-title" width="3%">不参<br>评人数</th>
                            <th class="column-title" width="3%">参评人数</th>
                            <th class="column-title" width="3%">科级<br>参评人数</th>
                            <th class="column-title" width="3%">员工<br>参评人数</th>
                            <th class="column-title" width="3%">S总数</th>
                            <th class="column-title" width="3%">A总数</th>
                            <th class="column-title" width="3%">B总数</th>
                            <th class="column-title" width="3%">C+D总数</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr class="even pointer">
                            <td class=" ">
                            {$rate.department}
                            </td>
                            <td class=" ">
                            {$rate.year}
                            </td>
                           
                            <td class=" ">
                            {$rate.quarter}
                            </td>
                             
                            <td class=" ">
                            {$rate.all_grade}
                            </td>
                            <td class=" " width="">
                            {$rate.not_grade}
                            </td>
                            <td class=" ">
                            {$rate.yes_grade}
                            </td>
                            <td class=" " width="">
                            {$rate.chief}
                            </td>
                            <td class=" " width="">
                            {$rate.staff}
                            </td>
                            <td class=" " width="">
                            {$rate.s}
                            <input id="num_s_total" value="{$rate.s}" type="hidden">
                            </td>
                            <td class=" " width="">
                            {$rate.a}
                            <input id="num_a_total" value="{$rate.a}" type="hidden">
                            </td>
                            <td class=" " width="">
                            {$rate.b}
                            </td>
                            <td class=" " width="">
                            {$rate.c}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </empty>
                    </div>
                  </div>
                </div>
            </div>
<!-- 参评科长 -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>参评科长</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="table-responsive">          
                     <empty name="data">
                      信息为空！
                      <else/>
                      <form id="rate_chief_form" action="{:U('Rate/rate_chief_submit')}" method="post" >
                      <table class="table table-striped jambo_table bulk_action" style="text-align:center;">
                        <thead>
                          <tr class="headings">
                            <th class="column-title" width="3%">序号</th>
                            <th class="column-title" width="3%">年度</th>                     
                            <th class="column-title" width="3%">季度</th>
                            <th class="column-title" width="3%">员工编号</th>
                            <th class="column-title" width="3%">姓名</th>
                            <th class="column-title" width="3%">部门</th>
                            <th class="column-title" width="3%">科室</th>
                            <th class="column-title" width="3%">岗级</th>
                            <switch name="Think.session.admin.quarter_last">
                            <case value="1">
                            <th class="column-title" width="5%">1月得分</th>
                            <th class="column-title" width="5%">2月得分</th>
                            <th class="column-title" width="5%">3月得分</th>
                            </case>
                            <case value="2">
                            <th class="column-title" width="5%">4月得分</th>
                            <th class="column-title" width="5%">5月得分</th>
                            <th class="column-title" width="5%">6月得分</th>
                            </case>
                            <case value="3">
                            <th class="column-title" width="5%">7月得分</th>
                            <th class="column-title" width="5%">8月得分</th>
                            <th class="column-title" width="5%">9月得分</th>
                            </case>
                            <case value="4">
                            <th class="column-title" width="5%">10月得分</th>
                            <th class="column-title" width="5%">11月得分</th>
                            <th class="column-title" width="5%">12月得分</th>
                            </case>
                            </switch>
                            <th class="column-title" width="3%">最终得分</th>
                            <th class="column-title" width="3%">绩效等级</th>
                          </tr>
                        </thead>

                        <tbody>
                        <volist name="data" id="vo">
                          <tr class="even pointer"> 
                            <td class=" ">
                            {$i}
                            <input name="{$i}[id]" value="{$vo.id}" type="hidden">
                            </td>
                            <td class=" ">
                            {$vo.year}
                            </td>
                            <td class=" ">
                            {$vo.quarter}
                            </td>
                            <td class=" " width="">
                            {$vo.id_employee}
                            </td>
                            <td class=" ">
                            {$vo.name}
                            </td>
                            <td class=" ">
                            {$vo.department}
                            </td>
                            <td class=" " width="">
                            {$vo.office}
                            </td>
                            <td class=" " width="">
                            <switch name="vo.id_level">
                            <case value="4">科长</case>
                            <case value="8">项目经理</case>
                            <case value="3">科员</case>
                            <case value="7">VSE</case>
                            </switch>
                            </td>
                            <td class=" " width="">
                            {$vo.grade_one}
                            </td>
                            <td class=" " width="">
                            {$vo.grade_two}
                            </td>
                            <td class=" " width="">
                            {$vo.grade_three}
                            </td>
                            <td class=" " width="">
                            {$vo.grade_total}
                            </td>
                            <td class=" " width="">
                            <select name="{$i}[leader_rate]" id="leader_rate{$i}" class="form-control">
                                <option value="1" <if condition="$vo[leader_rate] eq 1">selected</if>>S</option>
                                <option value="2" <if condition="$vo[leader_rate] eq 2">selected</if>>A</option>
                                <option value="3" <if condition="$vo[leader_rate] eq 3">selected</if>>B</option>
                                <option value="4" <if condition="$vo[leader_rate] eq 4">selected</if>>C</option>
                                <option value="5" <if condition="$vo[leader_rate] eq 5">selected</if>>D</option>
                            </select>
                            </td>
                        </tr>
                        </volist>
                        </tbody>
                        
                      </table></form>
                      <input class="btn btn-success" type="button" onclick="rate_chief_check({$rate_chief_count})" value="提交成绩" id="rate_chief_button" style="margin-left:40%;width:10%;">
                      </empty>
                      
                    </div>
                  </div>
                </div>
              </div>

<!-- 不参评科长 -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>不参评科长</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="table-responsive">          
                     <empty name="data_no">
                      信息为空！
                      <else/>
                      <table class="table table-striped jambo_table bulk_action" style="text-align:center;">
                        <thead>
                          <tr class="headings">
                            <th class="column-title" width="3%">序号</th>
                            <th class="column-title" width="3%">年度</th>                     
                            <th class="column-title" width="3%">季度</th>
                            <th class="column-title" width="3%">员工编号</th>
                            <th class="column-title" width="3%">姓名</th>
                            <th class="column-title" width="3%">部门</th>
                            <th class="column-title" width="3%">科室</th>
                            <th class="column-title" width="3%">岗级</th>
                            <switch name="Think.session.admin.quarter_last">
                            <case value="1">
                            <th class="column-title" width="5%">1月得分</th>
                            <th class="column-title" width="5%">2月得分</th>
                            <th class="column-title" width="5%">3月得分</th>
                            </case>
                            <case value="2">
                            <th class="column-title" width="5%">4月得分</th>
                            <th class="column-title" width="5%">5月得分</th>
                            <th class="column-title" width="5%">6月得分</th>
                            </case>
                            <case value="3">
                            <th class="column-title" width="5%">7月得分</th>
                            <th class="column-title" width="5%">8月得分</th>
                            <th class="column-title" width="5%">9月得分</th>
                            </case>
                            <case value="4">
                            <th class="column-title" width="5%">10月得分</th>
                            <th class="column-title" width="5%">11月得分</th>
                            <th class="column-title" width="5%">12月得分</th>
                            </case>
                            </switch>
                            <th class="column-title" width="3%">最终得分</th>
                          </tr>
                        </thead>

                        <tbody>
                        <volist name="data_no" id="vo">
                          <tr class="even pointer"> 
                            <td class=" ">
                            {$i}
                            </td>
                            <td class=" ">
                            {$vo.year}
                            </td>
                           
                            <td class=" ">
                            {$vo.quarter}
                            </td>
                             
                            <td class=" " width="">
                            {$vo.id_employee}
                            </td>
                            <td class=" ">
                            {$vo.name}
                            </td>
                            <td class=" ">
                            {$vo.department}
                            </td>
                            <td class=" " width="">
                            {$vo.office}
                            </td>
                            <td class=" " width="">
                            <switch name="vo.id_level">
                            <case value="4">科长</case>
                            <case value="8">项目经理</case>
                            <case value="3">科员</case>
                            <case value="7">VSE</case>
                            </switch>
                            </td>
                            <td class=" " width="">
                            {$vo.grade_one}
                            </td>
                            <td class=" " width="">
                            {$vo.grade_two}
                            </td>
                            <td class=" " width="">
                            {$vo.grade_three}
                            </td>
                            <td class=" " width="">
                            {$vo.grade_end}
                            </td>
                          </tr>
                          </volist>
                        </tbody>
                        
                      </table>
                      </empty>     
                    </div>
                  </div>
                </div>
              </div>
  </div>
</div>
<include file="Public/foot" /> 
<script type="text/javascript">
//科长评级提交时检验
	function rate_chief_check(rate_chief_count){
        var sum_rate=0;
        var num_s_rate=0,num_a_rate=0;
        for(var i=1;i<=rate_chief_count;i++){
            var o=document.getElementById("leader_rate"+i).value;
            if(o==1){
                sum_rate++;
                num_s_rate++;
            }
            if(o==2){
                sum_rate++;
                num_a_rate++;
            }
        }

        //科长评级A+S总是不能超过科长人数的一半（保留整数）
        var num_chief       = rate_chief_count;
        var num_limit_chief = parseInt(parseInt(num_chief)*0.5);
        //获取评级中分配的总S与总A数
        var num_s_total     = document.getElementById("num_s_total").value;
        var num_a_total     = document.getElementById("num_a_total").value;
        if(sum_rate>num_limit_chief){
            alert("科级评级S和A的总数不能超过评级科长总数的50%！");
            return false;
        }
        if(num_s_rate>parseInt(num_s_total)||num_a_rate>parseInt(num_a_total)){
            alert("数量不对！");
            return false;
        }
        document.getElementById("rate_chief_button").disabled = "disabled";
        $.ajax({
                cache: true,
                type: "POST",
                url:"/TOPNew/Rate/ratesub",
                data:$('#rate_chief_form').serialize(),// 你的formid
                async: false,
                error: function(request) {
                    alert("Connection error");
                },
                success: function(data) {
                    if(data.success==1){
                    alert('提交成功!');
                    window.location.reload();
                  }
                }
            });
  }
</script>