<include file="Public/header" />
<style type="text/css">
.column-title{
  text-align: center;
}
</style>

<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                	<if condition="($Think.session.admin.id_level eq 5)">
                    	<h2>{$Think.session.admin.user_department} 加班审批信息</h2>
                    <else />
                    	<h2>{$Think.session.admin.user_office} 加班审批信息</h2>
                    </if>
                	<div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                		<form id="form1" action="{:U('Overwork/overwork_history')}" method="post" class="form-horizontal">   
	                    	查询起始时间：<input type='text' class="select_date" style="width:100px;" name="startTime" value="{$startTime}"></input>
	                    	查询结束时间：<input type='text' class="select_date" style="width:100px;" name="endTime" value="{$endTime}"></input>
                      		<button type="submit" id="bn">搜索</button>
                 		</form>
                    <empty name="data">
                     	询信息为空（此时间节点可能没有加班预报）！
                    <else/>
                      	<table class="table table-striped jambo_table bulk_action" style="text-align:center;">
	                        <thead>
	                            <tr class="headings">
		                            <th class="column-title" width="2%">序号</th>
		                            <th class="column-title" width="2%">姓名</th>
		                            <th class="column-title" width="3%">加班类型</th>
		                            <th class="column-title" width="8%">加班开始时间</th>
		                            <th class="column-title" width="8%">加班结束时间</th>
		                            <th class="column-title" width="3%">加班时长</th>
		                            <th class="column-title" width="10%">加班内容</th>
		                            <th class="column-title" width="4%">科长确认</th>
		                            <th class="column-title" width="5%">科长意见</th>
		                            <th class="column-title" width="4%">部长确认</th>
		                            <th class="column-title" width="5%">部长意见</th>     
	                          	</tr>
	                        </thead>
                        	<tbody>
		                        <volist name="data" id="vo">
			                        <tr class="even pointer">
			                            <td class=" ">{$i}</td>
			                            <td class=" ">{$vo.name}</td>
			                            <td class=" ">{$vo.overworktype}</td>
			                            <td class=" ">{$vo.overworkstarttime}</td>
			                            <td class=" ">{$vo.overworkendtime}</td>
			                            <td class=" ">{$vo.overworktotaltime}</td>
			                            <td class=" "  style="text-align: left;">{$vo.overworkcontent}</td>
			                            <td class=" ">{$vo.chief_confirm}</td>
			                            <td class=" ">{$vo.chief_suggestion}</td>
			                            <td class=" ">{$vo.minister_confirm}</td>
			                            <td class=" ">{$vo.minister_suggestion}</td>
			                        </tr>
		                        </volist>
                        	</tbody>
                    	</table>
                   	</empty>
                	</div>
                </div>
           	</div>
        </div>
    </div>
</div>





<include file="Public/foot" />

 <!-- jQuery -->
    <script src="__PUBLIC__/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="__PUBLIC__/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
   
    <!-- Flot -->
    <script src="__PUBLIC__/vendors/Flot/jquery.flot.js"></script>
    <script src="__PUBLIC__/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="__PUBLIC__/vendors/Flot/jquery.flot.time.js"></script>
    <script src="__PUBLIC__/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="__PUBLIC__/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="__PUBLIC__/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="__PUBLIC__/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="__PUBLIC__/vendors/flot.curvedlines/curvedLines.js"></script>
  
    <!-- Flot -->