<include file="Public/header" />
<style type="text/css">
.column-title{
  text-align: center;
}
</style>
<!-- 审批主体 -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{$Think.session.admin.user_office} 加班预报审批</h2>
                	<div class="clearfix"></div>
                </div>
                <div class="x_content">     
                  	<table class="table table-striped jambo_table bulk_action" style="text-align:center;" id="overwork_table">
                        <thead>
                            <tr class="headings">
	                            <th class="column-title" width="3%">序号</th>
	                            <th class="column-title" width="5%">姓名</th>
	                            <th class="column-title" width="5%">加班类别</th>
	                            <th class="column-title" width="8%">加班开始时间</th>
	                            <th class="column-title" width="8%">加班结束时间</th>
	                            <th class="column-title" width="5%">加班时长</th>
	                            <th class="column-title" width="25%">加班内容</th>
	                            <th class="column-title" width="3%">状态</th>
	                            <th class="column-title" width="3%">操作</th>    
                          	</tr>
                        </thead>
                        <tbody>                      
	                        <volist name="data" id="vo">
		                        <tr class="even pointer">
		                            <td class=" ">{$vo.id}<input type="hidden" name="overwork_id" id="overwork_id" value="{$vo.id}"></td>
		                            <td class=" ">{$vo.name}</td>
		                            <td class=" ">{$vo.overworktype}</td>
		                            <td class=" ">{$vo.overworkstarttime}</td>
		                            <td class=" ">{$vo.overworkendtime}</td>
		                            <td class=" ">{$vo.overworktotaltime}</td>
		                            <td class=" " style="text-align: left;">{$vo.overworkcontent}</td>
		                            <td class=" ">{$vo.chief_confirm}</td>
		                            <td class=" "><a id="{$vo.id}" class="btn btn-warning btn-sm" onclick="overworkRetreat(this,{$i})" data-toggle="modal"  data-target="#retreat">退回</a></td>
		                        </tr>
	                        </volist>
                        </tbody>
                    </table>
                </div>
                  <div style="margin:0 auto; width:850px; height:100px;" id="pager">
                    <ul class="pages">{$page}
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</div>
<!-- 审批主体完 -->




<div class="modal fade" id="retreat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="float: right; border: 1px solid #333;"> 
    <div class="modal-dialog">
      	<div class="modal-content">
       		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            	&times;
        		</button>
        		<h4 class="modal-title" id="myModalLabel">
           			加班预报退回：
        		</h4>
       		</div>
       	<!--编辑主体 -->
      		<div class="modal-body">
		        <table class="table">
		          	<tr>
		            	<th>预报人员:</th>
		            	<td>
			            	<input type="hidden" id="overwork_id" class="form-control">
			          		<input type="text" id="text1" name="text[]" class="form-control" disabled="disabled">
		          		</td>
		          	</tr>
		          	<tr>
		            	<th>加班类型:</th>
		          		<td><input type="text" id="text2" name="text[]" class="form-control" disabled="disabled"></td>
		          	</tr>
		          	<tr>
		            	<th>起始时间:</th>
		            	<td><input type="text" id="text3" name="text[]" class="form-control" disabled="disabled"></td>
		          	</tr>
		          	<tr>
		            	<th>结束时间:</th>
		            	<td><input type="text" id="text4" name="text[]" class="form-control" disabled="disabled"></td>
		          	</tr>
		          	<tr>
		            	<th>加班时常:</th>
		            	<td><input type="text" id="text5" name="text[]" class="form-control" disabled="disabled"></td>
		          	</tr>
		          	<tr>
		            	<th>加班内容:</th>
		            	<td><textarea type="text" id="text6" name="text[]" class="form-control" disabled="disabled"></textarea></td>
		          	</tr>
		          	<tr>
		            	<th>退回原因:</th>
		            	<td><textarea type="text" id="suggestion" class="form-control"></textarea></td>
		         	</tr>		          
         		</table>
         		<input type="button" id="sub-reback" class="btn-block btn-lg btn-warning" value="退回">
          	</div>
      	</div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<include file="Public/foot" />
<!-- Datatables -->
<script src="__PUBLIC__/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- Datatables -->
<script>

/////////////////////////////退回信息传输/////////////////////////////////////////////////////
	$(document).ready(function() {
      $('#datatable').dataTable();
    });

  $(function(){
    $("#sub-reback").click(function(){
      var suggestion = $("#suggestion").val();
      var overwork_id= $("#overwork_id").val();
      var action     = "overwork_reback";
      if(suggestion==""){
        alert("回退原因不能为空!");
        return false;
      }
      $.ajax({
        type:"POST",
        url:action,
        dataType:"json",
        data:{"suggestion":suggestion,"overwork_id":overwork_id},
        success:function(data){
          if(data.success==1){
            alert('回退成功!');
            location.reload();
          }
          if(data.success==0){ 
          	alert("回退失败！");
            return false;
          }
        }
      });
  });
    
});


/////////////////////////////接收到表格中的信息至Plan///////////////////////////////////////////// 
	function overworkRetreat(tt,num){
       var tr1 = tt.parentNode.parentNode;
       document.getElementById("overwork_id").value=document.getElementById("overwork_table").getElementsByTagName("INPUT")[num-1].value;
       alert(document.getElementById("overwork_table").getElementsByTagName("INPUT")[num-1].value);
       for(var i=1;i<=6;i++)
       {
            document.getElementById("text"+i).value = tr1.cells[i].innerText;
       }
    }
</script>
  