<include file="Public/header" />
<style type="text/css">
.column-title{
  text-align: center;
}
</style>
<!-- iCheck -->
<link href="__PUBLIC__/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- 审批主体 -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{$Think.session.admin.user_office} 加班预报审批</h2>
                	<div class="clearfix"></div>
                </div>
                <div class="x_content">  
                  <form id="subform" action="{:U('Overwork/overwork_pass')}" method="get" class="form-horizontal">   
                  	<table class="table table-striped jambo_table bulk_action" style="text-align:center;" id="overwork_table">
                        <thead>
                            <tr class="headings">
	                            <th width="3%" style="text-align: center;"><input type="checkbox" id="check-all" class="flat"></th>
	                            <th class="column-title" width="5%">姓名</th>
	                            <th class="column-title" width="5%">加班类别</th>
	                            <th class="column-title" width="8%">加班开始时间</th>
	                            <th class="column-title" width="8%">加班结束时间</th>
	                            <th class="column-title" width="5%">加班时长</th>
	                            <th class="column-title" width="25%">加班内容</th>
	                            <th class="column-title" width="3%">状态</th>
	                            <th class="column-title" width="3%">操作</th>
                              <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; font-weight:500;">已选项 ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>    
                          	</tr>
                        </thead>
                        <tbody>                      
	                        <volist name="data" id="vo">
		                        <tr class="even pointer">
		                            <td><input type="checkbox" class="flat" name="table_records" id="overwork_records{$i}" value="{$vo.id}">
                                    <input type="hidden" name="overwork_id" id="overwork_id" value="{$vo.id}">
                                </td>
		                            <td class=" ">{$vo.name}</td>
		                            <td class=" ">{$vo.overworktype}</td>
		                            <td class=" ">{$vo.overworkstarttime}</td>
		                            <td class=" ">{$vo.overworkendtime}</td>
		                            <td class=" ">{$vo.overworktotaltime}</td>
		                            <td class=" " style="text-align: left;">{$vo.overworkcontent}</td>
		                            <td class=" ">{$vo.chief_confirm}</td>
		                            <td class=" "><a id="{$vo.id}" class="btn btn-warning btn-sm" onclick="overworkRetreat(this,{$i})" data-toggle="modal"  data-target="#retreat">退回</a></td>
		                        </tr>
	                        </volist>
                        </tbody>
                    </table>
                      <input type="hidden" id="overworkReback_url" class="form-control" value="{:U('Overwork/overwork_reback')}">
                      <input type="hidden" id="overworkPass_url" class="form-control" value="{:U('Overwork/overwork_pass')}">
                      <input type="button" class="btn btn-success" style="margin-left:40%; width:10%;" value="通 过" onclick="overworkPass()" id="overworkpass">
                  </form>
                </div>         
            </div>
              <div style="margin:0 auto; width:850px; height:100px;" id="pager">
                <ul class="pages">
                  {$page}
                </ul>
              </div>
        </div>
    </div>
</div>
<!-- 审批主体完 -->




<div class="modal fade" id="retreat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="float: right; border: 1px solid #333;"> 
    <div class="modal-dialog">
      	<div class="modal-content">
       		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            	&times;
        		</button>
        		<h4 class="modal-title" id="myModalLabel">
           			加班预报退回：
        		</h4>
       		</div>
       	<!--编辑主体 -->
      		<div class="modal-body" id="modal-body">
		        <table class="table">
		          	<tr>
		            	<th>预报人员:</th>
		            	<td>
			            	<input type="hidden" id="overwork_id" class="form-control">
			          		<input type="text" id="text1" name="text[]" class="form-control" disabled="disabled">
		          		</td>
		          	</tr>
		          	<tr>
		            	<th>加班类型:</th>
		          		<td><input type="text" id="text2" name="text[]" class="form-control" disabled="disabled"></td>
		          	</tr>
		          	<tr>
		            	<th>起始时间:</th>
		            	<td><input type="text" id="text3" name="text[]" class="form-control" disabled="disabled"></td>
		          	</tr>
		          	<tr>
		            	<th>结束时间:</th>
		            	<td><input type="text" id="text4" name="text[]" class="form-control" disabled="disabled"></td>
		          	</tr>
		          	<tr>
		            	<th>加班时常:</th>
		            	<td><input type="text" id="text5" name="text[]" class="form-control" disabled="disabled"></td>
		          	</tr>
		          	<tr>
		            	<th>加班内容:</th>
		            	<td><textarea type="text" id="text6" name="text[]" class="form-control" disabled="disabled"></textarea></td>
		          	</tr>
		          	<tr>
		            	<th>退回原因:</th>
		            	<td><textarea type="text" id="suggestion" class="form-control"></textarea></td>
		         	</tr>		          
         		</table>
         		<input type="button" id="sub-reback" class="btn-block btn-lg btn-warning sub-reback" value="退回">
          	</div>
      	</div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<include file="Public/foot" />
<!-- Datatables -->
<script src="__PUBLIC__/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- Datatables -->
<!-- iCheck -->
<script src="__PUBLIC__/vendors/iCheck/icheck.min.js"></script>
<!-- iCheck -->
<script>

/////////////////////////////退回信息传输/////////////////////////////////////////////////////
	$(document).ready(function() {
      $('#datatable').dataTable();
    });

  $(function(){
    $(document).on("click","#sub-reback",function(){
      var suggestion   = $("#suggestion").val();
      var overwork_id  = $("#overwork_id").val();
      var overworkReback_url = $("#overworkReback_url").val();
      var action       = overworkReback_url;

      if(suggestion==""){
        alert("回退原因不能为空!");
        return false;
      }
      $.ajax({
        type:"POST",
        url:action,
        dataType:"json",
        data:{"suggestion":suggestion,"overwork_id":overwork_id},
        success:function(data){
          if(data.success==1){
            alert('回退成功!');
            location.reload();
          }
          if(data.success==0){ 
          	alert("回退失败！");
            return false;
          }
        },
        error:function(){
          alert("回退失败！");
          return false;
        }
      });
  });   
});


/////////////////////////////接收到表格中的信息至Plan///////////////////////////////////////////// 
	function overworkRetreat(tt,num){
    var tr1 = tt.parentNode.parentNode;
    document.getElementById("overwork_id").value=document.getElementById("overwork_table").getElementsByTagName("INPUT")[num-1].value;
    for(var i=1;i<=6;i++)
    {
        document.getElementById("text"+i).value = tr1.cells[i].innerText;
    }
  }


//////////////////////////通过选择好的加班预报/////////////////////////////////////////////////////
function overworkPass(){
  var overwork_id='';
  for(var i=1;i<=15;i++){
    if(document.getElementById("overwork_records"+i+"").checked==true){
      overwork_id=overwork_id+","+document.getElementById("overwork_records"+i+"").value;
    }
  }
  if(overwork_id==''){
    alert("您没有选择需要通过的加班预报！");
    return(false);
  }
  if (confirm("确定要将选中的加班预报通过吗？")) 
    {  
      document.getElementById("overworkpass").disabled = "disabled";
      var overworkPass_url = document.getElementById("overworkPass_url").value;
      $.ajax({
        cache: true,
        type: "POST",
        url:  overworkPass_url,
        data:{"overwork_id":overwork_id},
        async: false,
        error: function(request) {
            alert("通过失败，请重新提交！");
        },
        success: function(data) {
            if(data.success==1){
            alert('通过成功!');
            location.reload();
          }
        }
    });
  }    
}
</script>
  