

<switch name="Think.session.admin.id_level" >
<case value="5"><include file="Public/header" /></case>
<case value="2"><include file="Public/headerr" /></case>
<default />默认情况
</switch>


<div class="right_col" role="main">
  <div class="row">
  <h3><strong>&nbsp;&nbsp;&nbsp;{$Think.session.admin.user_department}月度成绩{$Think.session.admin.id_level}</strong></h3>
  <hr/>
  <div class="row top_tiles">
         <for start='1' end='13'>
              <div class="animated flipInY col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:30%;margin-left:2.3%;margin-top:1%;cursor:pointer;" onclick="location.href='{:U('Performance/daihao',"month=$i")}'">
                <div class="tile-stats" style="height:200px;">
                  <div class="icon">
                    <if condition="$data[$i] eq ''">
                      <if condition="$Think.session.admin.month_sys eq $i">
                      <i class="fa fa-sort-amount-desc" style="margin-top:30px; float:left; margin-left:-10px; color: firebrick"></i>
                      </div>
                      <div class="count">{$i}月</div>
                      <h3 style="margin-top: 20px;">请及时提交本月分数正式版</h3>
                      <hr>
                      <p style="font-size: larger; margin-top: -10px;"><strong>部门总人数：{$all[$i]}</strong></p>
                      <p style="font-size: larger;"><strong>已评分人数：{$sum[$i]}</strong></p>
                      <else/>
                      <i class="fa fa-car" style="margin-top:30px; float:left; margin-left:-10px;"></i>
                      </div>
                      <div class="count">{$i}月</div>
                      <h3 style="margin-top: 20px;">此月暂无分数正式版</h3>

                      <hr>
                      <p style="font-size: larger; margin-top: -10px;"><strong>如需提交本月正式版请点击提交</strong></p>
                      <p style="font-size: larger;"><strong>如本月暂无分数请等待此月到来</strong></p>
                      </else>
                      </if>
                      </if>
                    <if condition="$data[$i] neq ''">
                      <i class="fa fa-check-square-o" style="margin-top:30px; float:left; margin-left:-10px; color: #169F85;"></i>
                      </div>
                      <div class="count">{$i}月</div>
                      <h3 style="margin-top: 20px;">本月分数正式版已提交</h3>
                      <hr>
                      <p style="font-size: larger; margin-top: -10px;"><strong>提交总人数：{$data[$i]}</strong></p>
                      <p style="font-size: larger;"><strong>提交平均分：{$sum[$i]}</strong></p>
                    </if>
                  
                </div>
              </div>
         </for>
              
   </div>

</div>
</div>
<include file="Public/foot" /> 