<include file="Public/header" /> 
<style type="text/css">
.column-title{
  text-align: center;
}
</style>
<div class="right_col" role="main">
  

   <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>清单计划查看</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <div class="table-responsive"  style="height:650px;">
                      <table class="table table-striped jambo_table bulk_action" style="text-align:center;">
                        <thead>
                          <tr class="headings">
                            <th class="column-title" style="text-align:center;">工作类别</th>
                            <th class="column-title">工作类型</th>
                            <th class="column-title">工作事项</th>
                            <th class="column-title">计划完成时间 </th>
                            <th class="column-title">权重 </th>
                            
                            <th class="column-title">自评等级 </th>
                            
                            <th class="column-title">评价人</th>
                            <th class="column-title">上级评价 </th>
                            <th class="column-title">状态 </th>
                            <th class="column-title">不通过原因 </th>
                            <th class="column-title">操作 </th>
                          </tr>
                        </thead>

                        <tbody>
                        <volist name="shuju" id="vo">
                          <tr class="even pointer">
                            <td class=" ">
                              <label>
                                {$vo.plan_type}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.plan_classify}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.plan_name}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.plan_closingdate}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.plan_weight}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.plan_content}
                              </label>
                            </td>
                            
                            
                            <td class=" ">
                              <label>
                                {$vo.plan_leader}
                              </label>
                            </td>

                            <td class=" " width="200px;">
                              <label>
                               
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                              <switch name="vo.if_confirm">
                                <case value="0">* 待确认 *</case>
                                <case value="1">已确认</case>
                                <case value="-1">已退回</case>
                              </switch>
                              </label>
                            </td>
                            <td class="">
                              <label>
                               <switch name="vo.if_confirm">
                                <case value="0">{$vo.plan_confirm}</case>
                                <case value="1"></case>
                                <case value="-1">{$vo.plan_confirm}</case>
                              </switch>
                              </label>
                            </td>
                            <td class=" ">
                              <a id="{$vo.id}" class="btn btn-default btn-sm active" onclick="fnn(this)">确认</a>
                              <a id="{$vo.id}" class="btn btn-default btn-sm active" href="#" onclick="fn(this)" role="button" data-toggle="modal"  data-target="#bianji">退回</a>
                            </td>
                            
                          </tr>
                        </volist>
                        </tbody>
                      </table>
                      <a class="btn btn-success" href="{:U('Performance/PlanconfirmY')}" style="margin-left:40%;width:10%;">返回</a>
                    </div>
                  </div>
                </div>


      </div>
   </div>
</div>

<div class="modal fade" id="bianji" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true" style="float: right; border: 1px solid #333;"> 
     <div class="modal-dialog">
      <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" 
           data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
           退回原因：
        </h4>
       </div>
       <!--编辑主体 -->
      <div class="modal-body">  
         <table class="table">
          <tr>
          <td><input type="hidden" id="id" class="form-control">
            <th>填写原因:</th>
            <td><textarea class="form-control" id="text" style="height:150px;"></textarea></td>
          </tr>
         </table>
         <input type="button" id="sub-mod" class="btn-block btn-lg btn-primary" value="提交">
      </div>
      </div><!-- /.modal-content -->
      </div><!-- /.modal -->
</div>

<include file="Public/foot" /> 
<script type="text/javascript">
function fnn(nn){
       var re=nn.id;
       //alert(re);
       var action = "/topNew/Performance/confirmY";
    if (confirm("确定要确认？")) 
             {      
      $.ajax({
        type:"GET",
        url:action,
        data:{"vid":re},
        dataType:"json",
        success:function(data){
          if(data.success==1){  
             alert("确认成功!");
              window.location.reload();
          }
          else{
          alert("确认失败！");
          }
        }
      });
    }
  }
  function fn(tt){
       var tr1 = tt.id;  
       document.getElementById("id").value = tr1;
    }
$(function(){
    $("#sub-mod").click(function(){
      var confirm = $("#text").val();
      var id = $("#id").val();
      var action = "/topNew/Performance/notconfirmY";
      if(confirm==""){
        alert("不能为空!");
        return false;
      }
      $.ajax({
        type:"POST",
        url:action,
        dataType:"json",
        data:{"confirm":confirm,"id":id},
        success:function(data){
          if(data.success==1){
            alert('成功!');
            window.location.reload();
          }
          if(data.success==0){ 
          //alert(data.username);
          alert("失败！");
            return false;
          }
        }
      });
  });
});
  </script>