<if condition="$Think.session.admin.id_level eq 2">
<include file="Public/headerr" /> 
<else/>
<include file="Public/header" /> 
</if>
<style type="text/css">
.column-title{
  text-align: center;
}
</style>
<div class="right_col" role="main">
  <div class="row">
<form id="subform" action="{:U('Performance/')}" method="post" class="form-horizontal">
  <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{$Think.session.admin.user_department}:{$Think.session.admin.year}年{$quarter}季度 成绩评分</h2>
                    <input type="hidden" name="month" value="{$month}">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <div class="table-responsive"  style="">
                      <table class="table table-striped jambo_table bulk_action" style="text-align:center;">
                        <thead>
                          <tr class="headings">
                            <th class="column-title" width="5%">序号</th>     
                            <th class="column-title" style="text-align:center;" width="5%">姓名</th>
                            <th class="column-title" width="5%">工号</th>
                            
                            <switch name="quarter">
                            <case value="1">
                            <th class="column-title" width="8%">1月</th>
                            <th class="column-title" width="8%">2月</th>
                            <th class="column-title" width="8%">3月</th>
                            </case>
                            <case value="2">
                            <th class="column-title" width="8%">4月</th>
                            <th class="column-title" width="8%">5月</th>
                            <th class="column-title" width="8%">6月</th>
                            </case>
                            <case value="3">
                            <th class="column-title" width="8%">7月</th>
                            <th class="column-title" width="8%">8月</th>
                            <th class="column-title" width="8%">9月</th>
                            </case>
                            <case value="4">
                            <th class="column-title" width="8%">10月</th>
                            <th class="column-title" width="8%">11月</th>
                            <th class="column-title" width="8%">12月</th>
                            </case>
                            </switch>
                            
                            <th class="column-title" width="8%">平均分</th>
                            <th class="column-title" width="8%">团队发展（5分）</th>
                            <th class="column-title" width="8%">团队激励（5分）</th>
                            <th class="column-title" width="8%">高效执行（5分）</th>
                            <th class="column-title" width="8%">精通专业（3分）</th>
                            <th class="column-title" width="8%">协作共赢（3分）</th>
                            <th class="column-title" width="8%">使命必达（3分）</th>
                            <th class="column-title" width="8%">廉洁奉公（3分）</th>
                            <th class="column-title" width="8%">敢于担当（3分）</th>
                            <th class="column-title" width="8%">总分</th>
                          </tr>
                        </thead>
                        <tbody>
                        <volist name="data" id="vo">
                          <input type="hidden" name="chief[{$i}][id_employee]"   value="{$vo.chief_id}">
                          <input type="hidden" name="chief[{$i}][name]" value="{$vo.chief_name}">
                          <input type="hidden" name="chief[{$i}][department]" value="{$vo.chief_department}">
                          <input type="hidden" name="chief[{$i}][office]" value="{$vo.chief_office}">
                          <input type="hidden" name="chief[{$i}][id_level]"      value="{$vo.level}">
                          <input type="hidden" name="chief[{$i}][job]"        value="{$vo.job}">
                          <input type="hidden" name="chief[{$i}][grade_total]"      value="{$vo.grade}">
                          <input type="hidden" name="chief[{$i}][grade_leader]" value="{$vo.grade_leader}">
                          <input type="hidden" name="chief[{$i}][grade_last]" value="{$vo.grade_last}">
                          <input type="hidden" name="chief[{$i}][year]" value="{$vo.year}">
                          <input type="hidden" name="chief[{$i}][month]" value="{$vo.month}">
                          <tr class="even pointer">
                          <td class=" ">
                              <label>
                                {$i}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.name}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.id_employee}
                              </label>
                            </td>
                            

                            <td class=" ">
                              <label>
                                <if condition="$vo.month.0 eq 1">
                                {$vo.month.0}
                                </if>
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.month.0}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                               
                              </label>
                            </td>
                            

                            <td class=" ">
                              <label>
                               
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                               
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                               
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                               
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                               
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                               
                              </label>
                            </td>
                            <td class=" "  style="text-align:left;">
                              <label>
                                
                              </label>
                            </td>
                             <td class=" ">
                              <label>
                               
                              </label>
                            </td>
                            <td class=" " style="text-align:left;">
                              <label>
                                
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                
                              </label>
                            </td>
                          </tr>
                        </volist>
                        <volist name="data[staff]" id="vo">
                         <input type="hidden" name="staff[{$i}][id_employee]"   value="{$vo.staff_id}">
                          <input type="hidden" name="staff[{$i}][name]" value="{$vo.staff_name}">
                          <input type="hidden" name="staff[{$i}][department]" value="{$vo.staff_department}">
                          <input type="hidden" name="staff[{$i}][office]" value="{$vo.staff_office}">
                          <input type="hidden" name="staff[{$i}][id_level]"      value="{$vo.level}">
                          <input type="hidden" name="staff[{$i}][job]"        value="{$vo.job}">
                          <input type="hidden" name="staff[{$i}][grade_total]"      value="{$vo.grade}">
                          <input type="hidden" name="staff[{$i}][grade_leader]" value="{$vo.grade_leader}">
                          <input type="hidden" name="staff[{$i}][grade_last]" value="{$vo.grade_last}">
                          <input type="hidden" name="staff[{$i}][year]" value="{$vo.year}">
                          <input type="hidden" name="staff[{$i}][month]" value="{$vo.month}">
                          <tr class="even pointer">
                          <td class=" ">
                              <label>
                                {$i}
                              </label>
                            </td>
                          <td class=" ">
                              <label>
                                {$vo.staff_id}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.staff_name}
                              </label>
                            </td>
                            
                            <td class=" ">
                              <label>
                                {$vo.staff_department}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.staff_office}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                <switch name="vo.level">
                                <case value="3">科员</case>
                                <case value="4">科长</case>
                                <case value="7">VSE</case>
                                <case value="8">项目经理</case>
                                </switch>
                              </label>
                            </td>
                            <td class=" "  style="text-align:left;">
                              <label>
                                {$vo.job}
                              </label>
                            </td>
                             <td class=" ">
                              <label>
                                {$vo.grade}
                              </label>
                            </td>
                            <td class=" " style="text-align:left;">
                              <label>
                                {$vo.grade_leader}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.grade_last}
                              </label>
                            </td>
                          </tr>
                        </volist>
                        </tbody>
                      </table>
                      <!-- <empty name="id">

                      <input class="btn btn-success" type="button" value="提交最终版成绩" id="bu" onclick="fom()" style="margin-left:30%;width:10%;">
                      <else/>
                      <a class="btn btn-success" onclick="return confirm('已提交过该月最终成绩！')" style="margin-left:30%;width:10%;">提交最终版成绩</a>
                      </else>
                      </empty> -->
                      
                      <a class="btn btn-success" href="{:U('Performance/Gradequarter')}" style="margin-left:10%;width:10%;">返回</a>
                    </div>
                    </div></div></div></div></div></form></div>


<include file="Public/foot" /> 
<script type="text/javascript">
  function fom(){
    document.getElementById("bu").disabled = "disabled";
    if (confirm("确定要提交？提交后无法更改.")) 
    {  
      document.getElementById("bu").disabled = "disabled";
      $.ajax({
                cache: true,
                type: "POST",
                url:"/TOPNew/Performance/daihao1",
                data:$('#subform').serialize(),// 你的formid
                async: false,
                error: function(request) {
                    alert("Connection error");
                },
                success: function(data) {
                    if(data.success==1){
                    alert('提交成功!');
                    window.location.reload();
                  }
                }
            });
    }
  }
</script>